In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv('employee_insights_cleaned.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   employee_id          100 non-null    object
 1   age                  100 non-null    int64
 2   salary               100 non-null    int64
 3   promotion_eligible   100 non-null    object
 4   last_training_date   100 non-null    object
 5   department           100 non-null    object
 6   work_experience      100 non-null    int64
 7   projects_completed   100 non-null    int64
 8   hours_worked_weekly  100 non-null    float64
 9   work_mode            100 non-null    object
 10  last_promotion_date  100 non-null    object
 11  satisfaction_score   100 non-null    float64
 12  overtime_hours       100 non-null    float64
dtypes: float64(3), int64(4), object(6)
memory usage: 10.3+ KB

In [3]:
df.describe()

,age,salary,work_experience,projects_completed,hours_worked_weekly,satisfaction_score,overtime_hours
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000
mean,41.450000,86278.060000,9.530000,7.98000,41.916354,6.611000,5.046000
std,10.335166,20948.892635,5.897192,3.92346,7.358341,2.061278,2.692204
min,25.000000,50206.000000,1.000000,1.00000,30.341799,3.000000,0.100000
25%,32.000000,70234.250000,4.000000,4.75000,36.004756,4.700000,2.550000
50%,41.500000,87330.500000,10.000000,8.50000,41.119708,6.750000,5.400000
75%,49.000000,104297.000000,15.250000,12.00000,48.638833,8.200000,7.325000
max,59.000000,119163.000000,19.000000,14.00000,54.895784,10.000000,10.000000

In [5]:
!git remote -v

origin	https://github.com/michaelandiputra/EngagemetricsAnalysisPractice.git (fetch)
origin	https://github.com/michaelandiputra/EngagemetricsAnalysisPractice.git (push)

In [13]:
!git branch -v

  experimental 2e42693 adding updated employee_analysis.ipynb with data statistics
* main         2e42693 adding updated employee_analysis.ipynb with data statistics
  master       2e42693 adding updated employee_analysis.ipynb with data statistics

In [12]:
!git branch experimental

In [14]:
!git branch -d master

Deleted branch master (was 2e42693).

In [29]:
!git add Untitled.ipynb

warning: in the working copy of 'Untitled.ipynb', LF will be replaced by CRLF the next time Git touches it

In [30]:
!git commit -m "initial push"

[main 8e3b4c7] initial push
 1 file changed, 105 insertions(+), 1 deletion(-)

To https://github.com/michaelandiputra/EngagemetricsAnalysisPractice.git
   d4b8f8e..8e3b4c7  main -> main

error: Your local changes to the following files would be overwritten by checkout:
	.ipynb_checkpoints/Untitled-checkpoint.ipynb
Please commit your changes or stash them before you switch branches.
Aborting

No stash entries found.